<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
<html>
<head>
	<title>login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    
    <br>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1>Enter New Password </h1>
            <form action="" method="POST" class="uniForm" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
        <input type="submit" value="SetPassword" class="btn btn-outline-primary">
    </form>
        </div>
        <div class="col-3"></div>
    </div>
    
    {% if messages %}
        {% for message in messages %}
            <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
        {% endfor %}
    {% endif %}
     
</body>
</html>